 *{font-family: 'Armata', sans-serif;

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.logo{
    width: 5px;
}
footer{
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.66);
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    min-height: 6vh;
}
footer ul li{
    list-style: none;
    display: inline-block;
    margin: 0 25px;
    position: relative;
}
footer a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.84);
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    background: rgba(0,0,0,0.9);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    text-align: right;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    min-height: 8vh;
    font-size: 130%;
    top: 0px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

main{
    background-size: cover;
    background-repeat: no-repeat;
    height: 82.5vh;
}
.main2{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 150px;
    background-image: url(images/polygon.jpg);
    background-attachment:fixed;
}
.text{
    text-align: center;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
header{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 30px 10%;
}

 nav ul li{
     list-style: none;
     display: inline-block;
     margin: 0 20px;
     position: relative;
 }
 nav ul li a{
     text-decoration: none;
     color: #fdb64d;
     text-transform: uppercase;
 }

 nav ul li::after{
     content: '';
     height: 3px;
     width: 0%;
     background: #fdb64d;
     position: absolute;
     left: 0;
     bottom: -10px;
     transition: 0.5s;
 }

 nav ul li:hover:after{
     width: 100%;
 }




 .modal{
    padding: 20px;
    background: rgb(220,220,220);
    box-shadow: 0 0 30px 0 rgb(180,180,180);
    border-radius: 20px;
    z-index: 10;
    transform: translateX(-50%) scale(0.8);
    opacity: 0;
    transition: 300ms cubic-bezier(0, 0.5, 0.7, 1.2);
    display: none;
    text-align: center;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.modal.active{
   transform: translateX(-50%) scale(1);
   opacity: 1;
}

.modal #register{
   display: none;
}


button{
   appearance: none;
   -webkit-appearance: none;
   color: blue;
   border: none;
   background: none;
   cursor: pointer;
}
a, input[type=submit]{
    cursor: pointer;
}



#overlay{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: black;
   opacity: 0;
   display: none;
   transition-duration: 300ms;
}

#overlay.active{
   opacity: 0.2;
   z-index: 5;
}

input{
    transition-duration: 200ms;
}
input[type=password].wrong{
    box-shadow: 0 0 0 2px red;
}
input[type=password].success{
    box-shadow: 0 0 0 2px green;
}


 /* {
    margin: 0;
    text-align: center;
    font-family: "Segoe UI";
    font-size: 95%;
}
html{
    scroll-behavior: smooth;
}
body{
}


nav{
    height: 70px;
    background-color: rgba(209, 217, 227, 0.3);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
section{
    height: 80vh;
}
nav a{
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
nav a:hover {
    color: rgb(255, 0, 0);
}

a{
    text-decoration: none;
    transition-duration: 100ms;
    color: black;
}

ul{
    list-style: none;
}
li{
    display: inline-block;
    padding: 0 5px;
}

-------------------
 nav a{
     font-size: 50px;
     text-transform: uppercase;
     letter-spacing: 0.1em;
 }
 nav a:hover {
     color: rgb(255, 255, 255);
 }

 a{
     text-decoration: none;
     transition-duration: 100ms;
     color: rgb(255, 168, 0);
 }
 li{
     display: inline-block;
     padding: 0 5px;
 }
 <iframe style="display: none" width="560" height="315" src="https://www.youtube.com/embed/Qi1KebO4bzc?rel=0&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  */
